.page-header {
  background: #f7f7f7;
  padding: $l-size 0;
  margin-bottom: $l-size;
}

.page-header__title {
  font-weight: 300;
  margin: 0;
}

.page-header__title--bold {
  font-weight: 700;
}

.page-header__action {
  margin-top: $l-size;
  text-decoration: none;
}
